# Aula 5 

## Retomada de conceitos das últimas aulas.

In [ ]:
numero_legal: float = 13.1

In [ ]:
print(numero_legal + 2)

In [ ]:
def dobrar(numero):
    return 2 * numero

In [ ]:
resultado = dobrar(3)

In [ ]:
print(resultado)

In [ ]:
def dividir(numero: float, divisor: float):
    return numero/divisor

In [ ]:
dividir(3,5)

In [ ]:
nome = "José Irineu Maria Souza"

In [ ]:
print(nome[0:7])

In [ ]:
lista = [1, 2, 3]
print(lista[1])

In [ ]:
lista_nome = nome.split(' ')
print(lista_nome)
tamanho_lista = len(lista_nome)

Fim da revisão.

# Pandas

In [ ]:
%pip install pandas

In [42]:
import pandas as pd

In [43]:
#Leitura do arquivo com os dados
df = pd.read_csv("../exemplo.csv") #df de dataframe
print(df)
display(df) # essa funçao é do iPython, que é do jupyter notebook

         Coluna A  Coluna B  Coluna C
Linha 1         0         1         2
Linha 2        10        11        12
Linha 3        20        21        22

         Coluna A  Coluna B  Coluna C
Linha 1         0         1         2
Linha 2        10        11        12
Linha 3        20        21        22

In [44]:
# Selecionando uma coluna especifica
display(df['Coluna C'])

Linha 1     2
Linha 2    12
Linha 3    22
Name: Coluna C, dtype: int64

In [45]:
#Criando nova coluna com valor fixo
df['Coluna D'] = 10
print(df)

         Coluna A  Coluna B  Coluna C  Coluna D
Linha 1         0         1         2        10
Linha 2        10        11        12        10
Linha 3        20        21        22        10

In [46]:
#Criando nova coluna com valor fixo
df['Coluna D'] = 10
print(df, df.shape)

         Coluna A  Coluna B  Coluna C  Coluna D
Linha 1         0         1         2        10
Linha 2        10        11        12        10
Linha 3        20        21        22        10 (3, 4)

In [47]:
#Criando nova coluna com valor fixo
df['Coluna E'] = df['Coluna B'] + df['Coluna C']
display(df)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E
Linha 1         0         1         2        10         3
Linha 2        10        11        12        10        23
Linha 3        20        21        22        10        43

In [48]:
# numeros fixos
df['Coluna F'] = [1, 2, 3]

In [50]:
df['Total'] = df.sum(axis=1)
display(df)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E  Coluna F  Total
Linha 1         0         1         2        10         3         1     34
Linha 2        10        11        12        10        23         2    136
Linha 3        20        21        22        10        43         3    238

In [51]:
vari = df.sum(axis=0)
print(df, "\n")
print(vari)

         Coluna A  Coluna B  Coluna C  Coluna D  Coluna E  Coluna F  Total
Linha 1         0         1         2        10         3         1     34
Linha 2        10        11        12        10        23         2    136
Linha 3        20        21        22        10        43         3    238

Coluna A     30
Coluna B     33
Coluna C     36
Coluna D     30
Coluna E     69
Coluna F      6
Total       408
dtype: int64